.card .card-image img {
    max-height: 350px;
    margin: auto;
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 260px;
}
.card-content {
    height: 120px;
}

.Product {
    margin-top: 4%;
}

.box {
    margin: 24px 0;
}

.quantity {
    display: -webkit-box;
}

.qty-box {
    margin: 0 20px;
}