.card .card-image img {
    max-height: 350px;
    margin: auto;
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 260px;
}
.card-content {
    height: 120px;
}

.Product {
    margin-top: 4%;
}

.box {
    margin: 24px 0;
}

.box:nth-last-child(1) {
    padding-top: 10%;
}

.quantity {
    display: -webkit-inline-box;
}

.qty-box {
    margin: 0 20px;
    font-size: 20px;
}

.btn-box {
    margin: 40px auto;
}