.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    width: 300px;
    margin: auto;
    height: 350px;
}

.bottle {
    width: 59px !important;
    height: 219px !important;
}

.standard {
    height: 328px !important;
}

.shirt {
    height: 318px !important;
}